:root {
  --font-headings: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --primary-1: hsl(322, 100%, 66%);
  --primary-2: hsl(321, 100%, 78%);
  --primary-3: hsl(0, 100%, 63%);
  --neutral-1: hsl(192, 100%, 9%);
  --neutral-3: #808e9a;
  --neutral-2: hsl(207, 100%, 98%);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headings);
}

body {
  background-color: white;
  font-family: var(--font-body);
  color: var(--neutral-1);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  text-align: center;
}

header {
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 1rem;
}

.container {
  margin: 0 auto;
  margin-top: 7rem;
  width: 90%;
}

.btn-try {
  font-size: 0.625rem;
  color: var(--primary-1);
  border: 1px solid var(--primary-1);
  background-color: white;
  padding: 0.65em 1.5em;
  border-radius: 12em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.btn-try:hover,
.btn-try:focus {
  cursor: pointer;
  color: #ff8ed7;
  border: 1px solid #ff8ed7;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.message-large {
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: center;
  font-weight: 700;
}

h2.message-medium {
  font-weight: 700;
}

.btn-get-started {
  background-color: var(--primary-1);
  color: white;
  font-weight: 700;
  border-radius: 1.5em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.2s ease-in;
  border: none;
  padding: 0.9em 2.7em;
  cursor: pointer;
}

.btn-get-started:hover,
.btn-get-started:focus {
  background-color: #ff8ed7;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.infobox {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  max-width: 11rem;
  padding: 0 0.5em;
}
.info-icon {
  height: 2.1rem;
  align-self: flex-start;
  margin-left: 0.25rem;
}

.info-number {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  height: 100%;
  margin-top: 0.5rem;
}

.info-smallprint {
  color: var(--neutral-3);
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
}

.description {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
}

.big-question {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  text-align: center;
}

.footer-container h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
}

.footer-container p {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.footer-top {
  height: 100%;
  width: 100%;
}
.footer-container {
  background-color: #00252e;
  padding: 1rem 1.875rem 1.875rem 3rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  text-align: left;
}

.footer-container .input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-container input {
  margin-top: 2rem;
  width: 100%;
  padding: 1em;
  line-height: 1.5em;
  font-size: 0.875rem;
  border-radius: 0.375em;
}

.btn-subscribe {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background-color: var(--primary-1);
  padding: 0.88em 2.7em;
  border-radius: 0.375em;
  cursor: pointer;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #ff8ed7;
}

.text-logo {
  background-image: url("images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 2rem;
  filter: brightness(0) invert(1);
}

.contact {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}
io-icon {
  cursor: pointer;
}
ion-icon:hover {
  filter: invert(28%) sepia(37%) saturate(3395%) hue-rotate(289deg)
    brightness(152%) contrast(101%);
}

.icon-phone {
  padding-left: 2.5em;
  background: url("images/icon-phone.svg");
  vertical-align: center;
  background-repeat: no-repeat;
}
.icon-email {
  padding-left: 2.5em;
  background: url("images/icon-email.svg");
  vertical-align: center;
  background-repeat: no-repeat;
}

.icon-email a {
  color: white;
  text-decoration: none;
}
.social-box {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
.social-box a {
  text-decoration: none;
  color: white;
}
ion-icon {
  font-size: 1.85rem;
}
/* Support classes */

.img-fw {
  width: 100%;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1_5 {
  margin-top: 1.5rem;
}

.mt-2_5 {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5_5 {
  margin-top: 5.5rem;
}
.mt-6_5 {
  margin-top: 6.5rem;
}

.mt-7_5 {
  margin-top: 7.5rem;
}

.mt-11_25 {
  margin-top: 11.25rem;
}

.mt-12_5 {
  margin-top: 12.5rem;
}

.mt-15 {
  margin-top: 15rem;
}

.mt-17_5 {
  margin-top: 17.5rem;
}
/* For Debugging */

.dbg-green {
  outline: 2px solid rgb(109, 224, 56);
}
.dbg-blue {
  outline: 2px solid #0879db;
}
.dbg-red {
  outline: 2px solid red;
}
